{% extends "base.html" %}

{% block title %} Usuarios {% endblock %}

{% block head %}

<link
    href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/r-2.4.1/sl-1.6.2/datatables.min.css"
    rel="stylesheet" />

<style>
    .text-title {
        color: #747579;

    }

    .custom-disabled {
        background-color: #f8f9fa;
        pointer-events: none;
        opacity: 1;
        border: 1px solid #ced4da;
    }
</style>

{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Usuarios</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lista de usuarios</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="tabla_usuarios_wrapper" class="dataTables_wrapper dt-bootstrap4">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="tabla_usuarios"
                                            class="table table-bordered table-striped dataTable dtr-inline"
                                            aria-describedby="example1_info">
                                            <thead>

                                            </thead>
                                            <tbody>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- HTML del modal -->
<div class="modal" id="modalVer" tabindex="-1" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="modalUsuarioLabel">Informacion del usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <!-- Profile picture -->
                    <div class="avatar avatar-xl mb-3">
                        <img class="avatar-img rounded-circle border border-white border-3 shadow"
                            src="{{url_for('static', filename='img/user1.png')}}" alt="">
                    </div>

                    <!-- Information START -->
                    <div class="row">

                        <!-- Information item -->
                        <div class="col-md-6">
                            <ul class="list-group list-group-borderless">
                                <li class="list-group-item">
                                    <span class="text-title">Rol:</span>
                                    <span id="rolUsuario" class="h6 mb-0 font-weight-bold text-capitalize"></span>
                                </li>

                                <li class="list-group-item">
                                    <span class="text-title">Nombre completo:</span>
                                    <span class="text-capitalize h6 mb-0 font-weight-bold" id="nombreUsuario"></span>
                                    <span class="text-capitalize h6 mb-0 font-weight-bold" id="apellidoUsuario"></span>
                                </li>



                                <li class="list-group-item">
                                    <span class="text-title">Teléfono:</span>
                                    <span id="telefonoUsuario" class="h6 mb-0 font-weight-bold"></span>
                                </li>
                            </ul>
                        </div>

                        <!-- Information item -->
                        <div class="col-md-6">
                            <ul class="list-group list-group-borderless">
                                <li class="list-group-item">
                                    <span class="text-title">Email </span>
                                    <span id="emailUsuario" class="h6 mb-0 font-weight-bold"></span>
                                </li>

                                <li class="list-group-item">
                                    <span class="text-title">Direccion:</span>
                                    <span id="direccionUsuario" class="h6 mb-0 font-weight-bold"></span>
                                </li>

                                <li class="list-group-item">
                                    <span class="text-title">Fecha de registro:</span>
                                    <span id="fechaUsuario" class="h6 mb-0 font-weight-bold"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HTML del modal -->
<div class="modal" id="modalEditar" tabindex="-1" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="modalUsuarioLabel">Editar informacion del usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formulario_editar">
                    <input id="token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre </label>
                            <span class="form-control custom-disabled text-capitalize" id="name"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Apellido </label>
                            <span id="apellido" class="form-control custom-disabled text-capitalize"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email </label>
                            <span id="email" class="form-control custom-disabled "></span>
                        </div>
                        <div id="grupo__roles">
                            <div class="form-group">
                                <label>Rol</label>
                                <select id="rol" class="form-control" name="roles">
                                    <option value="admin">Admin</option>
                                    <option value="gerente">Gerente</option>
                                    <option value="almacenista">Almacenista</option>
                                    <option value="vendedora">Vendedora</option>
                                </select>
                            </div>
                            <p  class="text-danger d-none">Selecciona un rol valido</p>
                        </div>


                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button form="formulario_editar" type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>


<input hidden id="url_data" value="{{url_for('users.users_list')}}">
<input hidded id="url_users" value="{{url_for('users.users_get')}}">
{% endblock %}



{% block links_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script
    src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/r-2.4.1/sl-1.6.2/datatables.min.js"></script>


<script src="{{url_for('static', filename='js/users/ajaxz_users.js')}}"></script>

{% endblock %}